* {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	TEXT-ALIGN: left; BACKGROUND-COLOR: #fff; font-size:12px; COLOR: #000
}
A:link {
	COLOR: #000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
UL {
	LIST-STYLE-TYPE: none; DISPLAY: block
}
LI {
	LIST-STYLE-TYPE: none; DISPLAY: block
}
INPUT {
	FONT: 100% arial,helvetica,clean,sans-serif
}
BUTTON {
	FONT: 100% arial,helvetica,clean,sans-serif
}
SELECT {
	FONT: 100% arial,helvetica,clean,sans-serif
}
EM {
	FONT-STYLE: normal; COLOR: #f00; MARGIN-RIGHT: 6px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
A IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.red {
	COLOR: #f00
}
.kda {
	WIDTH: 160px
}
.kdb {
	WIDTH: 300px
}
.wydb {
	WIDTH: 300px; height:120px;
}
#wforder {
	WIDTH: 924px; HEIGHT: 390px;BORDER: #CCC 3px solid; MARGIN: 0px auto; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.wforderl {
	HEIGHT: 390px; WIDTH: 580px; FLOAT: left; BACKGROUND: url(ri.jpg) no-repeat right bottom; 
}
.chang698 {
	HEIGHT: 330px; WIDTH: 698px; FLOAT: left; BACKGROUND: url(ri.jpg) no-repeat right bottom; BORDER: #EEEEEE 1px solid; PADDING-TOP: 15px
}
.wfchang {
	HEIGHT: 330px; WIDTH: 738px; FLOAT: left; BACKGROUND: url(ri.jpg) no-repeat right bottom; BORDER: #EEEEEE 1px solid; PADDING-TOP: 15px
}
.wforderr {
	HEIGHT: 390px; WIDTH: 300px; BORDER-LEFT-COLOR: #CCC; BORDER-LEFT: #CCCCCC 2px solid; PADDING-LEFT: 10px;  FLOAT: right;OVERFLOW: hidden
}
.bdbox {
	WIDTH: 520px; 
}
.bdbox LI {
	WIDTH: 520px; BORDER-BOTTOM: #e4e4e4 0px solid; PADDING-BOTTOM: 1px; LINE-HEIGHT: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 26px; PADDING-TOP: 5px; _padding: 0;
}
.bdbox LI SPAN.bdl {
	WIDTH: 90px; padding-left:8px; TEXT-ALIGN: right; LINE-HEIGHT: 24px; FLOAT: left; FONT-FAMILY: "ו";
}
.bdbox LI SPAN.bdr {
	WIDTH: 420px; BORDER-LEFT: #ccc 0px solid; PADDING-LEFT: 0px;  FLOAT: right
}
.bdbox LI SPAN.bdr #showprit {
	MARGIN: 0px 5px; DISPLAY: inline; FONT-FAMILY: Arial,Verdana; COLOR: #f60; CLEAR: both; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.bdbox LI.product {
	HEIGHT: 56px
}
.bdbox LI.pay {
	HEIGHT: 90px
}
.bdbox LI.guest {
	HEIGHT: 80px
}
.bdbox LI SPAN.bdr TEXTAREA.guest {
	HEIGHT: 65px
}
.bdbox LI LABEL {
	LINE-HEIGHT: 18px; MARGIN: 0px 20px 0px 6px; DISPLAY: block; FLOAT: left; HEIGHT: 18px; CURSOR: pointer
}
.bdbox LI INPUT.dxk {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #e6e6e6; PADDING-LEFT: 0px; WIDTH: 15px; PADDING-RIGHT: 1px; DISPLAY: block; FLOAT: left; HEIGHT: 15px; COLOR: #f00; CURSOR: pointer; PADDING-TOP: 1px
}
#wffahuo {
	HEIGHT: 248px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1.8em; PADDING-LEFT: 15px; WIDTH: 275px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 10px; COLOR: #666; PADDING-TOP: 0px
}

.wftitle {
	BORDER-BOTTOM: #CCCCCC 2px dashed; LINE-HEIGHT: 40px; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 40px; COLOR: #FB550C; FONT-SIZE: 24px; font-weight:bolder; OVERFLOW: hidden
}
/*
.select {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 10px; PADDING-RIGHT: 4px; DISPLAY: inline; FLOAT: left; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 3px
}
*20161106*/
.select {
	 PADDING-BOTTOM: 3px; PADDING-LEFT: 10px; PADDING-RIGHT: 4px; DISPLAY: inline; FLOAT: left; PADDING-TOP: 3px
}
.select DIV {
	FLOAT: left
}
.select > DIV {
	OVERFLOW: hidden;
	padding: 0 18px 0 0;
}
.select DIV SELECT {
	BACKGROUND-COLOR: #fff; COLOR: #c00; FONT-SIZE: 14px
}
* HTML .select DIV SELECT {
	MARGIN: -2px; DISPLAY: block; FLOAT: left
}
.select DIV > SELECT {
	MARGIN: -2px; DISPLAY: block; FLOAT: none
}

.select_l {width:160px;float:left;margin-right:8px;border: 1px dashed #000;}
.select_l dl {width:160px;padding-left: 5px;}
.select_r {width:160px;float:left;border:1px dashed #000;}
.select_r dl {width:160px;padding-left: 5px;}

/*
.select:hover {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid
}
*20161106*/
.bdbox LI.next {
	BORDER-BOTTOM-STYLE: none; TEXT-ALIGN: left; PADDING-LEFT: 100px; BORDER-RIGHT-STYLE: none; MARGIN-TOP: 5px; BORDER-TOP-STYLE: none; HEIGHT: 30px; BORDER-LEFT-STYLE: none
}
.bdbox LI SPAN.bdr .payaa {
	HEIGHT: 25px; PADDING-TOP: 3px
}
.bdbox LI SPAN.bdr .paybb {
	BORDER-BOTTOM: #ccc 1px dotted; BORDER-LEFT: #ccc 1px dotted; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #f9f9f9; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; HEIGHT: 45px; COLOR: #bd0000; BORDER-TOP: #ccc 1px dotted; BORDER-RIGHT: #ccc 1px dotted; PADDING-TOP: 8px
}
.bdbox LI.code IMG {
	WIDTH: 48px; HEIGHT: 26px; VERTICAL-ALIGN: middle; CURSOR: pointer
}
.bdbox LI SPAN.bdr INPUT.txt {
	BORDER-BOTTOM: #c8c8c8 1px solid; BORDER-LEFT: #c8c8c8 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; OUTLINE-STYLE: none; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BACKGROUND: url(txtbg.jpg) repeat-x; HEIGHT: 22px; COLOR: #333; FONT-SIZE: 12px; VERTICAL-ALIGN: middle; BORDER-TOP: #c8c8c8 1px solid; BORDER-RIGHT: #c8c8c8 1px solid; PADDING-TOP: 0px
}
.bdbox LI SPAN.bdr INPUT.txt2 {
	TEXT-ALIGN: center; LINE-HEIGHT: 26px; WIDTH: 50px; HEIGHT: 26px; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold; MARGIN-RIGHT: 5px
}
.bdbox LI SPAN.bdr TEXTAREA.guest {
	BORDER-BOTTOM: #c8c8c8 1px solid; BORDER-LEFT: #c8c8c8 1px solid; PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; COLOR: #060; FONT-SIZE: 12px; BORDER-TOP: #c8c8c8 1px solid; BORDER-RIGHT: #c8c8c8 1px solid; PADDING-TOP: 6px
}
.bdbox LI INPUT.send {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 0px; WIDTH: 95px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 30px; COLOR: #fff; FONT-SIZE: 14px; VERTICAL-ALIGN: middle; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; PADDING-TOP: 2px
}
.suba {
	BACKGROUND: url(suba.gif) no-repeat; MARGIN-RIGHT: 30px
}
.subb {
	BACKGROUND: url(subb.gif) no-repeat
}
